/* .a{
  color: rgb(0, 0, 0);
}
div{
  background-color: aquamarine;
  display: inline-block;
} */

.header{
  width:100%;
  height: 100px;;
  background-color: rgb(176, 236, 236);
  display:flex;
  position: fixed;
  margin-top: 0;
  top:0.1px;
  left:0.1px;
}
nav{
  font-size: 25px;
  display: flex;

} 
img{
  height:70px;
  width:70px;
  position: absolute;
  top:15px;
}
.name{
  position: relative;
  left:80px;
  top:15px;  
}
.home{
  position: relative;
  left:400%;
  top:35px;
}
.about{
  position: relative;
  left:420%;
  top:35px;
}
.contact{
  position: relative;
  left:440%;
  top:35px;
}
.wel{
  position: absolute;
  top:100px;
  left:40%;
  font-size: 30px;
}
.abt{
  position: absolute;
  top:100px;
  left:33%;
  
}
p{
  position: absolute;
  top:100px;
  left:33%;
}
.num{
  position: absolute;
  top:100px;
  left:33%;
}
.mail{
  position: fixed;
  top:100px;
  left:12%;
}
footer {
  background-color: rgb(176, 236, 236);
  width: 100%;
  color: rgb(213, 73, 73);
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 10px 0; /* Optional for better spacing */
}
